<!doctype html>
<html>
<head>
    <title>Blogger</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">


     <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> View Posts</h1>
        <a href="/post" class="btn btn-default btn-sm">Create New Post</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

     <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
   
    <div class="well">
            <ul>
                <% for(var i = 0; i < posts.length; i++) {%>
                    <li> <a href="/postDetails/<%= posts[i]._id %>"><%= posts[i].title %></a> (<a href="/post/<%= posts[i]._id%>">Edit</a>)</li>
                <% } %>
            </ul>
                
    </div>

</div>
</div>
</body>
</html>